# Database
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
DATABASE_NAME=anime_player

# JWT
JWT_SECRET=e5a43253255837da402a1cf144c61f5a
JWT_EXPIRES_IN=7d

# Firebase (for push notifications)
# Option A: Path to serviceAccountKey.json (Recommended)
FIREBASE_SERVICE_ACCOUNT_PATH=./serviceAccountKey.json
# Option B: Individual vars
FIREBASE_PROJECT_ID=openanimewatch
FIREBASE_PRIVATE_KEY="QGMVv83KnRjwiKJk3VxrqyLAuYoQWiCAiI0eYY5q"
FIREBASE_CLIENT_EMAIL=adminsdk@openanimewatch.iam.gserviceaccount.com
FIREBASE_DATABASE_URL=https://openanimewatch-default-rtdb.europe-west1.firebasedatabase.app

# App
PORT=3000

# AnimeWorld API
ANIME_WORLD_API_BASE_URL=http://localhost:3001/animeworld

# Manga API Configuration
JIKAN_API_URL=https://api.jikan.moe/v4
JIKAN_CACHE_TTL=86400
MANGAHOOK_API_URL=https://mangahook-api.vercel.app/api
MANGAHOOK_CACHE_TTL=3600
MANGADEX_API_URL=https://api.mangadex.org
MANGADEX_CACHE_TTL=21600
